{% extends "base.html" %}
{% block content %}
<h1>Lorem Ipsum </h1>
<div class="w3-panel w3-pale-blue w3-round-xlarge">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum urna a leo ultricies, quis porta turpis hendrerit. 
    Fusce dictum leo eu diam mollis volutpat. Nullam pellentesque ligula sit amet ligula accumsan luctus. Curabitur blandit, 
    magna id cursus iaculis, nulla diam fermentum nibh, nec luctus lectus nulla nec mi. Sed et consectetur neque. 
    Proin id luctus ligula. Proin vitae imperdiet sem. Quisque id condimentum diam. Etiam in varius velit, vel blandit est. 
    Fusce id lorem aliquam, sagittis nulla vel, hendrerit erat. Integer elit sapien, mollis id blandit quis, laoreet at libero. 
    Fusce dignissim vitae dolor sit amet tincidunt.</p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum urna a leo ultricies, quis porta turpis hendrerit. 
        Fusce dictum leo eu diam mollis volutpat. Nullam pellentesque ligula sit amet ligula accumsan luctus. Curabitur blandit, 
        magna id cursus iaculis, nulla diam fermentum nibh, nec luctus lectus nulla nec mi. Sed et consectetur neque. 
        Proin id luctus ligula. Proin vitae imperdiet sem. Quisque id condimentum diam. Etiam in varius velit, vel blandit est. 
        Fusce id lorem aliquam, sagittis nulla vel, hendrerit erat. Integer elit sapien, mollis id blandit quis, laoreet at libero. 
        Fusce dignissim vitae dolor sit amet tincidunt.</p>
</div>  
    
{% endblock %}